# --- Seguridad (CRÍTICO) ---
.env
*.env
secrets.json

# --- Python y Django ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
db.sqlite3
local_settings.py

# --- Archivos Multimedia (Uploads) ---
media/
!media/.gitkeep

# --- Docker ---
oracle_data/

# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db